.meetings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
  }
  
  .top-section {
    margin-bottom: 20px;
  }
  
  .schedule-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:#041E42;
  }
  
  .right-section {
    width: 90%;
    height: 80%;
    overflow-y: auto;
  }
  
  .meeting-history {
    width: 100%;
  }
  
  .meeting-history table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .meeting-history th,
  .meeting-history td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .meeting-history th {
    background-color: #002244;
  }
  
  .meeting-history tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .meeting-history tr:hover {
    background-color: #8DA399;
  }
  
  .meeting-history th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #002244;
    color: white;
  }
  .edit-button {
    /* Customize your color here */
    background-color: #041E42;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-button {
    /* Customize your color here */
    background-color:red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }