/* payment.css */

.payment--content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #041E42;
    width: 100%;
    
}

.payment--card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 70px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.payment--card h2,
.payment--card h3 {
    text-align: center;
    margin-bottom: 20px;
}

.payment--card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.class-fees {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.class-fees--item {
    display: flex;
    flex-direction: column;
}

.generate-structure {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #041E42;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #00416A;
}

select, input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

hr {
    margin: 30px 0;
}
